version: '3.8'

volumes:
  sqlite_data:

services:
  symfony:
    build:
      context: ./symfony
      target: prod
    volumes:
      - ./symfony/var/data.db:/var/www/html/symfony/var/data.db
      - ./symfony/config/jwt:/var/www/html/symfony/config/jwt
    ports:
      - "9000:9000"
    environment:
      APP_ENV: prod
      APP_DEBUG: 0
    restart: unless-stopped

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
      target: prod
    ports:
      - "80:80"
      - "443:443"
    environment:
      HOSTNAME_INTERNAL_PHP: symfony:9000
      HOSTNAME_PUBLIC_BACKEND: localhost:9000
      HOSTNAME_INTERNAL_NGINX: nginx
    depends_on:
      - symfony
    restart: unless-stopped
