/* Warhammer Terminal Border Style */
.terminal-border {
  position: relative;
  border-top: 2px solid var(--foreground);
  border-bottom: 2px solid var(--foreground);
}

.terminal-border .terminal-border-left-top,
.terminal-border .terminal-border-left-bottom,
.terminal-border .terminal-border-right-top,
.terminal-border .terminal-border-right-bottom {
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: var(--foreground);
}

.terminal-border .terminal-border-left-top {
  left: 0;
  top: 0;
}

.terminal-border .terminal-border-left-bottom {
  left: 0;
  bottom: 0;
}

.terminal-border .terminal-border-right-top {
  right: 0;
  top: 0;
}

.terminal-border .terminal-border-right-bottom {
  right: 0;
  bottom: 0;
}

